/* RESET */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Heebo', sans-serif;
}


/* LOGO & NAME */
.logo{
    vertical-align: middle;
    padding: 20px;
}
.immage,.name{
    padding: 3px;
}
.immage{
    width: 80px;
}
.name{
    font-size: 70px;
    display: inline-block;
}

/* MAIN */
main{
    background-color: rgb(246, 248, 249);
    padding: 70px;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

/* BOTTOM */
.section-bottom{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.bottom{
    padding: 10px 16px;
    border-radius: 8px;
    margin: 4px;
}
.first{
    background-color: rgb(73, 171, 241);
    color: white;
}
.second{
    border: 2px solid lightgray;
    color: lightgray;
}

/* HR */
hr{
    border: 1px solid rgb(246, 248, 249);
}

/* LIST */
.section-list{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

ul{
    list-style-type: none;
}

li{
    margin: 12px;
    font-size: 24px;
}

.type-bottom{
    padding: 10px 16px;
    border-radius: 16px;
    background-color: blue;
    color: white;
    font-size: 12px;
    vertical-align: middle;
} 

.edit{
    background-color: rgb(73, 171, 234);
}

.goal{
    background-color: rgb(167, 131, 231);
}

.rec{
    background-color: rgb(100, 191, 167);
}

.mob{
    background-color: rgb(242, 157, 54);
}

.web{
    background-color: rgb(215, 99, 159);
}

.sales{
    background-color: rgb(175, 200, 42);
}

.tick{
    font-size: 12px;
    width: 24px;
    height: 24px;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
    padding: 6px;
}

.check{
    color: lightgreen;
}
.cross{
    color: lightcoral;
}